.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  align-items: center;
}

.btn {
  width: 100px;
  margin: 10px;
  display: inline-block;
}

.stopStartRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
